# Віртуальне середовище (його не треба пушити)
venv/
.venv/

# Папка із завантаженими документами тендерів
downloads/

# Тимчасові скріншоти та текстові звіти
*.png
*.txt
*.pdf
*.zip
*.docx

# Кліше Python / VS Code
__pycache__/
.vscode/
.env